{# Vercount: https://github.com/EvanNotFound/vercount #}
{% if theme.counter.type === 'vercount' %}
<script defer src="https://events.vercount.one/js"></script>
{% endif %}

{# Busuanzi: https://busuanzi.ibruce.info/ #}
{% if theme.counter.type === 'busuanzi' %}
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% endif %}
